# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
pipenv.lock

# poetry
poetry.lock

# PDM
pdm.lock

# Spyder project settings
.spyderproject
.spyderworkspace

.ropeproject
/site
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Linux
*~

# Local environment
.env
.venv
pytest_cache/
venv/
*.tmp
*.temp

*.log

*.swp
*.swo